@import url('https://fonts.googleapis.com/css?family=Merienda+One');
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,500,800');

cf-chat-response.robot text .show {
    font-size:18px;
    background-color: #031335;
    font-family: Montserrat;
    color: white;
    margin-left: 20px;
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

cf-chat-response.robot text .show:first-child {
    border-top-left-radius: 1em;
}

cf-chat-response.robot text .show:last-child {
    border-bottom-left-radius: 1em;
}

cf-chat-response.user text .show {
    font-size:18px;
    background-color: #031335;
    font-family: Montserrat;
    color: white;
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

cf-chat-response.user text .show:first-child {
    border-top-right-radius: 1em;
}

cf-chat-response.user text .show:last-child {
    border-bottom-right-radius: 1em;
}


cf-chat-response.robot thumb{
    width: 48px;
    height: 60px;
}

cf-chat-response.user thumb{
    width: 48px;
    height: 48px;
}
.cf-button > div{
    color: #031335;
    font-size: 15px;
}

.section-form{
    height: 60vh;
    width: 80%;
    margin-left: 10%;
}
