@import url('https://fonts.googleapis.com/css?family=Merienda+One');
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,500,800');

body
{
	font-family: Merienda One;
	color: #031335;
	font-size: 90%;
	margin: 0;
}

header
{
	text-align: center;
}

h1
{
	font-weight: normal;
	font-size: 500%;
}

@media screen and (max-width: 30em )
{
	h1
	{
		font-weight: normal;
		font-size: 300%;
	}
}

header h1 img
{
	height: 1.5em;
	position: relative;
	top: 0.55em;
	margin-left: -0.4em;
	margin-right: -0.4em;
}

h2
{
	font-weight: normal;
	text-align: center;
	background-color: #031335;
	color: white;
	padding: 1.8em;
	font-size: 180%;
}

h3
{
	margin-top: 2.6em;
	margin-bottom: 1.8em;
	border-bottom: 1px solid #031335;
}

a.titleButton
{
	padding-left: 1.5em;
}
a.titleButton:link,
a.titleButton:visited
{
	color: white;
}

#headerExample
{
	display: inline-block;
	text-align: left;
	border-left: 0.2em solid #031335;
	padding-left: 0.75em;
	-o-transition:.5s;
	-ms-transition:.5s;
	-moz-transition:.5s;
	-webkit-transition:.5s;
	transition: .5s;
	opacity: 0;
}
#headerExample p
{
	margin: 0.25em;
}

footer
{
	text-align: center;
	font-size: 80%;
}

.mainFrame
{

}

.textBlock
{
	width: 50em;
	margin: 3em;
	margin-left: auto;
	margin-right: auto;
	padding: 1em;
	text-align: left;
	font-family: Montserrat;
}


.textBlock .quote,
.textBlock .spellcheck
{
	text-align: center;
	padding: 2em;
	margin: 2em;
}

.textBlock .quote
{
	font-family: Merienda One;
	background-color: #BBC1CD;
}

.textBlock .spellcheck
{
	font-family: Montserrat;
	background-color: white;
	border: 1px solid #cccccc;
}

.spellcheck .spellGood
{
	color: #2C671D;
}
.spellcheck .spellBad
{
	color: #410002;
}
.spellcheck .spellDetection
{
	border-bottom: 0.2em solid red;
}

.menu,
.submenu
{
	margin: 0;
	margin-top: 7em;
	margin-bottom: 7em;
	padding: 0;
	display: block;
	text-align: center;
}

.menu li,
.submenu li
{
	margin: 0;
	padding: 0;
	display: inline-block;
	text-align: center;
}

.submenu li
{
	margin-left: 2em;
	margin-right: 2em;
}

.menu a,
.submenu a
{
	text-decoration: none;
	color: #031335;
}

.menu li img,
.submenu li img
{
	-o-transition:.3s;
	-ms-transition:.3s;
	-moz-transition:.3s;
	-webkit-transition:.3s;
	transition: .3s;
}

.menu li img
{
	height: 13em;
}

.submenu li img
{
	height: 9em;
}

.menu li img:hover,
.submenu li img:hover
{
	transform: rotate(-4deg) scale(1.1, 1.1) translate(0em, -1em) ;
}

img.illustration
{
	display: block;
	height: 13em;
	margin-left: auto;
	margin-right: auto;
}

.questionReponseShadow1
{
	width: 50em;
	margin: 3em;
	margin-left: auto;
	margin-right: auto;
	
	position: relative;
	left: 0.8em;
	top: 0.8em;
	
	background-color: #8590a6;
}

.questionReponseShadow2
{
	position: relative;
	left: -1.6em;
	top: -1.6em;
	
	background-color: #8590a6;
}

.questionReponse
{
	position: relative;
	left: 0.8em;
	top: 0.8em;
	
	background-color: #031335;
	color: white;
	
	padding: 1em;
}

.questionReponse h3
{
	text-align: center;
	font-size: 120%;
	margin: 0;
}

.questionReponse .question,
.questionReponse .reponse
{
	display: table;
	margin: 1.5em;
}

.questionReponse .text,
.questionReponse .avatar
{
	display: table-cell;
	vertical-align: middle;
}

.questionReponse img,
.questionReponse img
{
	width: 7em;
	height: 7em;
	border-radius: 100%;
	border: 0.35em solid white;
}

.questionReponse .question .text
{
	padding-left: 1em;
}

.questionReponse .reponse .text
{
	padding-right: 1em;
	text-align: right;
}

@media screen and (max-width: 50em )
{
	.textBlock
	{
		width: calc(100% - 2em);
	}
	
	.questionReponseShadow1
	{
		width: calc(100% - 4em);
	}
}

@media screen and (max-width: 35em )
{
	.questionReponse .question,
	.questionReponse .reponse,
	.questionReponse .text,
	.questionReponse .avatar
	{
		display: block;
	}
	
	.questionReponse .avatar
	{
		text-align: center;
	}
	
	.questionReponse .question .text,
	.questionReponse .reponse .text
	{
		text-align: left;
		padding-left: 0em;
		padding-right: 0em;
	}
	
	.questionReponse .reponse .text
	{
		border-top: 1px solid white;
		padding-top: 1.2em;
	}
}

.key
{
	font-family: mono;
	background-color: #cccccc;
	padding: 0.2em;
	margin: -0.2em;
	border-radius:0.2em;
}

.keyList li
{
	margin-bottom: 1em;
}
