<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<title>{{ site.name }} - {{ page.title }}</title>

	<meta name="description" content="{{ page.description }}" />
	<meta property="og:site_name" content="{{ site.name }}" />
	<meta property="og:title" content="{{ page.title }}" />
	<meta property="og:locale" content="fr_FR" />
	<meta property="og:description" content="{{ page.description }}" />
	<meta property="og:image" content="{{ site.url }}/images/preview-facebook.png" />
	<meta property="og:image:width" content="1200" />
	<meta property="og:image:height" content="627" />
	<meta property="og:url" content="{{ site.url }}/{{ page.permalink }}" />
	<meta property="og:type" content="article" />

	<script src="{{ site.basepath }}javascript/jquery-3.2.1.min.js" type="text/javascript"></script>
<!--
	<script type="text/javascript" src="{{ site.basepath }}javascript/conversational-form.js" crossorigin></script>
-->
	<script type="text/javascript" src="https://cf-4053.kxcdn.com/conversational-form/0.9.6/conversational-form.min.js" crossorigin></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="{{ site.basepath }}style.css" type="text/css" media="screen" />
	<link rel="stylesheet" href="{{ site.basepath }}chatbot.css" type="text/css" media="screen" />
</head>
<body id="top">

<header>
	<h1>Inclusif<img src="{{ site.basepath }}images/epicene-logo.png" alt="·" />ve</h1>
	<div id="headerExample"></div>
</header>

<script>
examples = [
	"<p>Des cheffes ou des chefs</p><p>Des chef·fe·s</p><p>Des responsables</p>",
	"<p>Les réalisatrices et les réalisateurs</p><p>Les réalisateur·rice·s</p><p>Les cinéastes</p>",
	"<p>Un conjoint ou une conjointe</p><p>Un·e conjoint·e</p><p>Un partenaire</p>",
	"<p>Les autrices et les auteurs</p><p>Les auteur·rice·s</p><p>Les essayistes</p>",
	"<p>Des écoliers et des écolières</p><p>Des écolier·ère·s</p><p>Des élèves</p>",
	"<p>Celles et ceux qui sont là</p><p>Celle·eux qui sont là</p><p>Les personnes qui sont là</p>"
];
lastExample = Math.floor(Math.random() * examples.length);

function startNewExample()
{
	header = document.getElementById("headerExample");
	if(header)
	{
		lastExample = (lastExample+1)%examples.length;
		header.innerHTML = examples[lastExample];
		header.style.opacity = 0;
	}
	window.setTimeout(finishNewExample, 100);
};
function finishNewExample()
{
	header = document.getElementById("headerExample");
	if(header)
	{
		header.innerHTML = examples[lastExample];
		header.style.opacity = 1;
	}
	window.setTimeout(endNewExample, 5000);
};
function endNewExample()
{
	header = document.getElementById("headerExample");
	if(header)
	{
		header.style.opacity = 0;
	}
	window.setTimeout(startNewExample, 500);
};

startNewExample();
</script>

<div class="mainFrame">
