<div class="questionReponseShadow1">
	<div class="questionReponseShadow2">
		<div class="questionReponse">
			<h3>{{ include.title }}</h3>
			<div class="question">
				<p class="avatar"><img src="{{ site.basepath }}images/avatar-{{ include.qavatar }}.jpg" alt="Enthoven" /></p>
				<p class="text">{{ include.qtext }}</p>
			</div>
			<div class="reponse">
				<p class="text">{{ include.rtext }}</p>
				<p class="avatar"><img src="{{ site.basepath }}images/avatar-{{ include.ravatar }}.jpg" alt="Enthoven" /></p>
			</div>
		</div>
	</div>
</div>
